
<div class="menu">
    <NavLink href="planera" ActiveClass="active" Match="NavLinkMatch.All">
        <i class="material-icons">playlist_add</i>
    </NavLink>
    <NavLink href="handla" ActiveClass="active" Match="NavLinkMatch.All">
        <i class="material-icons">shopping_cart</i>
    </NavLink>
</div>
