@using BlazorShopping.Models

<div>@PlanningModel.ArticleName</div>
<input type="text" @bind="@PlanningModel.Quantity"/>

@code {
    [Parameter]
    public PlanningModel PlanningModel { get; set; }
}
