@using BlazorShoppingServer.Models
@using BlazorShoppingServer.Services
@inject ArticleService ArticleService

<div class="planning-selector">
    <div>@(PlanningModel.ArticleName)</div>
    <input type="text" class="@(PlanningModel.Quantity == 0 ? "empty" : PlanningModel.Quantity > 0 ? "selected": "")" @bind="PlanningModel.Quantity">
    <div>@(PlanningModel.ArticleUnit)</div>
    <a class="btn circle green lighten-2 waves-effect waves-light" @onclick="Increase"><i class="material-icons">add</i></a>
    <a class="btn circle red lighten-3 waves-effect waves-light" @onclick="Decrease"><i class="material-icons">remove</i></a>
</div>



@code
{
    [Parameter]
    public PlanningModel PlanningModel { get; set; }


    private async Task Increase(MouseEventArgs e)
    {
        PlanningModel.Quantity += 1;
        await ArticleService.SetPlanning(PlanningModel);
    }

    private async Task Decrease(MouseEventArgs e)
    {
        PlanningModel.Quantity -= 1;
        if (PlanningModel.Quantity < 0)
        {
            PlanningModel.Quantity = 0;
        }
        await ArticleService.SetPlanning(PlanningModel);
    }
}